
<!DOCTYPE html>
{%extends "base.html"%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>


</head>
<body class='bg'>
<form action="{{url_for('predict')}}" method='GET'>

        <div class='row my-5'>


        </div>
            <div class="form-group col">
            <label for="exampleFormControlSelect2" class="text-white font-weight-bold lead">Select Team 1</label>
            <select class="form-control" id="exampleFormControlSelect1" name='team1' required>
              <option value="Zenit">Zenit</option>
              <option value="Dynamo Kyiv">Dynamo Kyiv</option>
              <option value="Lazio">Lazio</option>
              <option value="Midtjyllandt">Midtjylland</option>
              <option value="Napoli">Napoli</option>
              <option value="Shakhtar Donetsk">Olympique Marseille</option>
              <option value="Atalanta">Atalanta</option>
              <option value="Liverpool">Liverpool</option>
              <option value="Borussia M'gladbach">Borussia M'gladbach</option>
              <option value="Atlético Madrid">Atlético Madrid</option>
              <option value="Lokomotiv Moskva">Lokomotiv Moskva</option>
              <option value="Real Madrid">Real Madrid</option>
              <option value="Manchester City">Manchester City</option>
              <option value="Borussia Dortmund">Rising Pune Supergiants</option>
              <option value="Juventus">Juventus</option>
            </select>
                <div class="form-group col">
                <label for="exampleFormControlSelect2" class="text-white font-weight-bold lead">Select Team 2</label>
                <select class="form-control" id="exampleFormControlSelect2" name='team2' required>
              <option value="Zenit">Zenit</option>
              <option value="Dynamo Kyiv">Dynamo Kyiv</option>
              <option value="Lazio">Lazio</option>
              <option value="Midtjyllandt">Midtjylland</option>
              <option value="Napoli">Napoli</option>
              <option value="Shakhtar Donetsk">Olympique Marseille</option>
              <option value="Atalanta">Atalanta</option>
              <option value="Liverpool">Liverpool</option>
              <option value="Borussia M'gladbach">Borussia M'gladbach</option>
              <option value="Atlético Madrid">Atlético Madrid</option>
              <option value="Lokomotiv Moskva">Lokomotiv Moskva</option>
              <option value="Real Madrid">Real Madrid</option>
              <option value="Manchester City">Manchester City</option>
              <option value="Borussia Dortmund">Rising Pune Supergiants</option>
              <option value="Juventus">Juventus</option>
            </select>



          </div>
            <input type="submit" name='btn' class='btn btn-light btn-lg'>
            </div>

        </form>
</body>
</html>
{%endblock%}